@model EruditionJournal.Models.ViewModels.PublicationEdit
@{
    ViewBag.Title = "Edit " + Model.Publication.PublicationTitle;
}

<div class="container">
    <h2>Edit @Model.Publication.PublicationTitle</h2>

    <form method="post" action="/Publication/Edit/@Model.Publication.PublicationId">
        <div class="form-group">
            <label for="publicationTitle">Title</label>
            <input type="text" class="form-control" id="publicationTitle" name="publicationTitle" value="@Model.Publication.PublicationTitle"/>
        </div>
        <div class="form-group">
            <label for="publicationPublisher">Publisher</label>
            <select class="form-control" id="publicationPublisher" name="publicationPublisher">
                <option value="null">--  Choose a Publisher  --</option>
                @foreach (var Publisher in Model.publishers)
                {
                    if (Publisher.PublisherId == Model.Publication.Publisher.PublisherId)
                    {
                        <option value="@Publisher.PublisherId" selected>@Publisher.PublisherFName @Publisher.PublisherLName</option>
                    }
                    else
                    {
                        <option value="@Publisher.PublisherId">@Publisher.PublisherFName @Publisher.PublisherLName</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="publicationCategory">Category</label>
            <select class="form-control" id="publicationCategory" name="publicationCategory">
                <option value="null">--  Choose a Category  --</option>
                @foreach (var Category in Model.categories)
                {
                    if (Category.CategoryId == Model.Publication.Category.CategoryId)
                    {
                        <option value="@Category.CategoryId" selected>@Category.CategoryName</option>
                    }
                    else
                    {
                        <option value="@Category.CategoryId">@Category.CategoryName</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="publicationAbstract">Abstract</label>
            <textarea rows="10" class="form-control" id="publicationAbstract" name="publicationAbstract"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary ">Submit publication</button>
            <a href="/Publication" class="btn btn-default">Cancel</a>
        </div>
    </form>
</div>