@model EruditionJournal.Models.Publisher
@{
    ViewBag.Title = "Details";
}

<h2>@(Model.PublisherFName) @(Model.PublisherLName)</h2>

<div class="block-link">
    <div>@Html.ActionLink("Edit", "Edit/" + Model.PublisherId)</div>
    <div>@Html.ActionLink("Delete", "Delete/" + Model.PublisherId)</div>
    <div>@Html.ActionLink("View all Publishers", "Index")</div>
</div>

<div class="container">
    <div class="row table-header">
        <div class="col-md-6">Full Name</div>
        <div class="col-md-6">Display Name</div>
    </div>
    <div class="row">
        <div class="col-md-6">@(Model.PublisherFName) @(Model.PublisherLName)</div>
        <div class="col-md-6">@(Model.PublisherDisplayName)</div>
    </div>
</div>