@model EruditionJournal.Models.Publisher
@{
    ViewBag.Title = "Edit " + Model.PublisherFName;
}

<div class="container">
    <h2>Edit @Model.PublisherFName @Model.PublisherLName</h2>

    <form method="post" action="/Publisher/Edit/@Model.PublisherId">
        <div class="form-group">
            <label for="publisherFName">First Name</label>
            <input type="text" class="form-control" id="publisherFName" name="publisherFName" value="@Model.PublisherFName" />
        </div>
        <div class="form-group">
            <label for="publisherLName">Last Name</label>
            <input type="text" class="form-control" id="publisherLName" name="publisherLName" value="@Model.PublisherLName" />
        </div>
        <div class="form-group">
            <label for="publisherDispName">Display Name</label>
            <input type="text" class="form-control" id="publisherDisplayName" name="publisherDisplayName" value="@Model.PublisherDisplayName" />
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>